* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.screen{
    display: flex;
    height: 100vh;
}
.leftside{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftside img{
    width: 100%;
    height: 100%;
}
.rightside{
    width: 450px;
    background-color: rgba(129, 23, 143, 0.39);
    padding: 50px;
}
.rightside label{
    display: block;
    margin-bottom: 10px;
}
.rightside input{
    width: 100%;
    border: 1px solid #da781d88;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
    outline: 0;
}
.rightside input:hover{
    border: 1px solid #e44023a6;
}
.error{
    font-size: 13px;
    background-color: #FF0000;
    color: #FFF;
    padding: 4px;
    border-radius: 5px;
}
